.head {
  float: right;
}
 .bluepad{
   background-color: rgb(29, 29, 252);
   border: 4px rgb(17, 17, 17);
   border-radius: 15px;
   padding-left: 12px;
   color: #ffffff;
   height: 30px;
}

.head a {
  display: inline;
  text-align: center;
  padding: 14px 12px;
  font-size: 12px;
  color: black;
  text-decoration: none;
}
.head a:hover{
  text-decoration: underline;
}

ul {
   list-style-type: none;
   margin: 0;
   padding: 0;
   overflow: hidden;
   background-color: #f2f2f2 ;
   position: fixed;
   bottom: 0;
   width: 100%;
}

li {
   float: left;
}

li a {
   display: block;
   text-align: center;
   padding: 15px 16px;
   font-size: 14px;
   color: black;
   text-decoration: none;
}

li :hover{
  text-decoration: underline;
}

.logo{
   position: fixed;
   top: 30%;
   width: 292px;
   height: auto;
   margin-left: 40%;
   margin-right: auto;
}
.bar{
  position: absolute;
  display: block;
  margin-top: auto;
  margin-left: 35%;
  margin-right: auto;
  top: 50%;
  
}
.barg{
  position: absolute;
  display: block;
  margin-top: auto;
  margin-left: 35.5%;
  margin-right: auto;
  top: 51.2%;
  
}
.search{
  border: 4px rgb(17, 17, 17);
  border-radius: 50px;
  height: 40px;
  width: 500px;
  outline: 4px;
  outline-color: gray;
  background-color: #e2dfdf;
  padding: 2px 23px 2px 30px;
}
.ico-mglass {
  position:relative;
  display:inline-block;
  background: #fff;
  border-radius: 30px;
  height: 6px;
  width: 6px;
  border: 2px solid #888;
  
  &:after {
    content: "";
    height: 2px;
    width: 6px;
    background: #888;
    position:absolute;
    top:7px;
    left:5px;
    -webkit-transform: rotate(45deg);
     -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
       -o-transform: rotate(45deg);
  }
  
}
.bar :hover{
  box-shadow: 2px 2px 3px 3px rgb(155, 153, 153);
}

.foot{

    position: fixed;
    bottom: 0;
}